
html{

 background-color: coral;

}
body{
    margin: 0px;
    padding: 20px;
    background-color: darkgrey;
}
div{
    
    width: 30px;
    height: 30px;
    padding:10px;
  
    
}
#first{
  background-color: teal;
 
}
#second{
    background-color: darkkhaki;
}
#third{
    background-color: darkorange;
}
#fourth{
    background-color: red;
}