body{
    margin:0;
    padding:0;
   background: #fff ; 
    color: #4a4a4a;

}

header,footer{
    font-size: large;
    text-align:center;
    padding: 0.3em 0 ;
    background-color: #4a4a4a; 
    color: #f9f9f9;  
 
}
nav{
    background: goldenrod;  
    color: purple;
}
main{
    background:#f9f9f9;
}
aside{
    background-color:hotpink;
}
.personal_information{
    font-size: 30px;
}
.how_to_use{
    font-size: 2em;
}

.footer_menu{
    text-decoration:underline;
}
.ghoo {
    background-color: green;
    width: 50px;
    height: 50px;
    padding: 100px;
}
.jihoo {
    background-color: rgb(4, 210, 247);
    width: 10rem;
    height: 10rem;
}
.ghooman {
    display: block;
    background-color: khaki;
    padding: 20px;
    margin-top: 10px;
}
.jigoo {
    margin-top: 30px;
}